<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>

    <!-- Add Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/hello/processForm" method="get">
        <label for="name">Please enter your name:</label>
        <input id="name" type="text" name="user_name_input"/>
        <input type="submit" class="btn btn-primary">
    </form>
</body>
</html>
